<div class="container">
  <h6>angular@{{ angularVersion }} | ngx-markdown@{{ ngxMarkdownVersion }}</h6>

  <button (click)="toggleSwitch()">Toggle Switch</button>

  <div *ngIf="showTextarea">
    <textarea [(ngModel)]="text"></textarea>
    <button (click)="save()">Save</button>
  </div>

  <div *ngIf="!showTextarea">{{ text }}</div>

  <textarea class="variable-textarea" [(ngModel)]="markdown_origin"></textarea>

  <br />
  <markdown mermaid class="variable-binding" [data]="markdown"></markdown>

  <br />
</div>

<div class="full flex">
  <!-- <div> {{ count }} </div> -->
  <!-- <div>{{data | json}}</div> -->
  <div class="chart" [innerHTML]="svg">{{ svg }}</div>
</div>

<pre class="mermaid">
  sequenceDiagram
    Alice->>John: Hello John, how are you?
    John-->>Alice: Great!
</pre>
